@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.categoria-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  background: $leon-gray;
  border-radius: $radius;
  box-shadow: 0 4px 15px $shadow-color;

  transition:
    transform 0.6s ease,
    box-shadow 0.6s ease;

  & h1 {
    font-family: system-ui, sans-serif;
    font-size: 1.17em;
    letter-spacing: normal;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px $shadow-color;

    .categoria-card-image {
      transform: scale(1.05);
    }
  }

  &-image-wrapper {
    // height: 65%;
    // aspect-ratio: 1;
    overflow: hidden;
    border-radius: $radius $radius 0 0;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
  }

  &-content {
    // height: fit-content;
    min-height: 180px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 0.5rem;

    @include design-for('desktop') {
      height: fit-content;
      min-height: 120px;
      flex-grow: 1;
    }
  }

  &-title {
    color: $leon-blue;
  }

  &-description {
    @include design-for('desktop') {
      display: none;
    }
  }

  &-button {
    background-color: $btn-background;
    color: $leon-black;
    border-radius: $radius;
    width: 50%;
    padding: 0.5rem;
    text-align: center;

    margin-top: auto;
    align-self: flex-end;

    font-weight: bolder;
    cursor: pointer;
  }
}
