@font-face {
  font-family: 'LeonesaCancilleresca';
  src: url('../assets/fonts/LeonesaCancilleresca.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LeonesaCancillerescaModern';
  src: url('../assets/fonts/LeonesaCancillerescaModern.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VisigoticaLeonesa';
  src: url('../assets/fonts/VisigoticaLeonesa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}