/*------------------------------------*\
  # Global variables
\*------------------------------------*/

@use 'sass:color';

// Font
$font-leonesa: 'LeonesaCancilleresca', serif;
$font-leonesaModern: 'LeonesaCancillerescaModern', serif;
$font-visigotica: 'VisigoticaLeonesa', serif;


// Colors based on the coat of arms of León
$leon-dark-red: #981932;
$leon-red: #ed1c24;
$leon-gold: #eac102;
$leon-gray: #e3e4e5;
$leon-green: #008f4c;
$leon-blue: #0072bc;
$leon-black: #000;

$nav-background: rgba($leon-dark-red, 0.8);
$shadow-color: rgba($leon-black, 0.8);

// Breakpoints
$mqMaxMobile: 767px;
$mqMinTablet: 768px;
$mqMinDesktop: 1024px;
$mqMaxDesktop: 1440px;
