/*------------------------------------*\
  # Global variables
\*------------------------------------*/
$font-hero: 'LeonesaCancilleresca', serif;

// Colors based on the coat of arms of León
$leon-dark-red: #981932;
$leon-red: #ed1c24;
$leon-gold: #eac102;
$leon-gray: #e3e4e5;
$leon-green: #008f4c;
$leon-black: #000;

$shadow-color: rgba($leon-black, 0.2);
