<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./assets/images/Leon_escudo_chef.svg" type="image/svg+xml" />
    <link rel="preload" href="./assets/fonts/LeonesaCancillerescaModern.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="./assets/fonts/VisigoticaLeonesa.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="./styles/main.scss" />
    <block name="title">
      <title>Tradición de León | Categoría en construcción</title>
    </block>
  </head>
  <body>
    <include src="components/skip-to-content.html"></include>

    <include src="components/header.html"></include>

    <main id="main-content">
      <section class="categoria">
        <block name="content">
          <section class="categoria-construction">
            <h1 class="categoria-title">Esta categoría está en construcción</h1>
            <p class="categoria-description">
              Estamos trabajando para ofrecerte el mejor contenido sobre esta categoría. ¡Vuelve pronto!
            </p>
            <a href="index.html" class="btn-to-home">Volver al inicio</a>
          </section>
        </block>
      </section>
    </main>

    <include src="components/footer.html"></include>
  </body>
</html>
