<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/main.scss">
  <block name="title-categoria">
    <title>Tradición de León | Categoría en construcción</title>
  </block>
</head>
<body>
  <include src="components/skip-to-content.html"></include>

  <include src="components/header.html"></include>

  <main id="main-content">
    <block name="main-categoria">
      <section class="categoria-construction">
        <h2>Esta categoría está en construcción</h2>
        <p>Estamos trabajando para ofrecerte el mejor contenido sobre esta categoría. ¡Vuelve pronto!</p>
        <a href="index.html" class="btn-to-home">Volver al inicio</a>
      </section>
    </block>
  </main>

  <include src="components/footer.html"></include>

  <script type="module" src="./scripts/main.js"></script>
</body>
</html>