<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/main.scss">
  <block name="title-categoria">
    <title>Categoría por defecto</title>
  </block>
</head>
<body>
  <include src="components/header.html"></include>

  <main>
    <block name="main-categoria">Contenido de la categoría por defecto</block>
  </main>

  <include src="components/footer.html"></include>

  <script type="module" src="./scripts/main.js"></script>
  <script type="module" src="./scripts/typed.js"></script>
</body>
</html>