.categoria {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.categoria-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
}