/*------------------------------------*\
  # Detail styles
\*------------------------------------*/
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.detalle {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'f f i1 d d d'
    'f f i2 d d d'
    'v v i3 d d d';
  gap: 1rem;
  aspect-ratio: 16 / 9;

  @include design-for('tablet') {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'f f i1'
      'f f i2'
      'v v i3'
      'd d d';
    aspect-ratio: 3 / 4;
  }

  @include design-for('phone') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'f i1'
      'i2 i3'
      'v v'
      'd d';
    aspect-ratio: auto;
  }

  & h1 {
    font-family: system-ui, sans-serif;
  }

  &-gallery-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $radius;

    &:nth-child(1) {
      grid-area: f;
    }

    &:nth-child(2) {
      grid-area: i1;
    }

    &:nth-child(3) {
      grid-area: i2;
    }

    &:nth-child(4) {
      grid-area: i3;
    }
  }

  &-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.detalle-description {
  grid-area: d;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  @include design-for('phone') {
    margin-left: 0;
    margin-top: 1rem;
  }

  &-title {
    margin-bottom: 1rem;
  }
}

.detalle-video-wrapper {
  grid-area: v;

  & iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: $radius;
  }
}
