/*------------------------------------*\
  # Home styles
\*------------------------------------*/

@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.home {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: -2;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: black;
  filter: brightness(0.4);
}

.home-video-wrapper iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 140vh;
  min-width: 200vh; 
  pointer-events: none;
}

.home-image-wrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;


  @include design-for('phone') {
    width: 95%;
    height: 95%;
  }
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  clip-path: url(#home-clip);
}

.home-typed-wrapper {
  z-index: 1;
  min-height: 10rem;
}

.home-title {
  font-family: $font-leonesaModern;
  font-weight: bold;
  font-size: 4rem;

  text-shadow: 4px 4px 8px $shadow-color;
  color: $leon-gold; 

  @include design-for('phone') {
    font-size: 2rem;
  }
}

.home-nav {  
  width: fit-content;
  border-radius: 1.5rem;

  @include design-for('phone') {
    .nav-list {
      gap: 1.5rem;
    }
  }
}

.nav-item:nth-child(1)::after{
  content: '|';
  margin-left: 2.5rem;

  @include design-for('tablet') {
    margin-left: 1.5rem;
  }
}

.nav-item:nth-child(2)::after{
  content: '|';
  margin-left: 2.5rem;

  @include design-for('tablet') {
    margin-left: 1.5rem;
  }
}
