/*------------------------------------*\
  # Home styles
\*------------------------------------*/

@use '../abstract/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/images/home.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home-title {
  font-family: $font-hero;
  font-size: 4rem;
  color: $leon-gold; 
}