<div class="categoria-card">
  <div class="categoria-card-image-wrapper">
    <picture>
      <source
        type="image/avif"
        srcset="./assets/images/{{src}}?as=avif&width=400 1x, ./assets/images/{{src}}?as=avif&width=800 2x"
      />
      <source
        type="image/webp"
        srcset="./assets/images/{{src}}?as=webp&width=400 1x, ./assets/images/{{src}}?as=webp&width=800 2x"
      />
      <img class="categoria-card-image" src="./assets/images/{{src}}?width=400" alt="{{alt}}" />
    </picture>
  </div>
  <div class="categoria-card-content">
    <h1 class="categoria-card-title">{{title}}</h1>
    <p class="categoria-card-description">{{description}}</p>
    <a class="categoria-card-button" href="{{link}}">Leer más</a>
  </div>
</div>
