/*------------------------------------*\
  # Common styles
\*------------------------------------*/

@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;  
  justify-content: stretch;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background-color: rgba($leon-dark-red, 0.8);
}

footer {
  background-color: $leon-gray;
  color: $leon-black;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 3rem 2rem;
  max-width: $mqMaxDesktop;
}

p {
  margin-bottom: 1.2rem;
}

a {
  color: $leon-green;
  text-decoration: none;
}


